.project-card {
    border: 1px solid lightgray;
    box-shadow: 1px 1px 1px darkgray;
    margin: 2rem auto;
    max-width: 30vw;
    min-width: 250px;

    
    @media screen and (min-width: 760px) {
        height: 250px;
        min-width: 750px;
    }
}

.card-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media screen and (min-width: 760px) {
        flex-direction: row;
        align-content: center;
        padding: 0.5rem 0;
        vertical-align: middle;
    }
}

.image-container {
    margin: 0;
    padding: 0;
    @media screen and (min-width: 760px) {
        padding: 20px 5px 0 5px;
    }
}

.card-image {
    margin: 0;
}

.desc-container {
    font-size: 1rem;
    padding: 15px 0 0 5px;

    p {
        @media screen and (min-width: 760px) {
            margin-bottom: 0.25rem;
        }
    }
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;

    @media screen and (min-width: 760px) {
        font-size: 1.5rem;
        margin-bottom: 0;
    }
}

.project-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-container {
    font-size: 1.5rem;
    margin: 0.5rem auto;
    width: 90%;

    @media screen and (min-width: 760px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
    }
}

.github-button {
    background: black;
    border: none;
    border-radius: 1000px;
    color: white;
    display: flex;
    font-size: 2rem;
    height: 70px;
    justify-content: space-around;
    line-height: 2rem;
    margin: 0.5rem auto;
    padding: 0.85rem;
    width: 100%;

    @media screen and (min-width: 760px) {
        height: 40px;
        font-size: 1.5rem;
        padding: 0.25rem;
        width: 150px;
    }
}

.live-site-button {
    background: #203FC4;
    border: none;
    border-radius: 1000px;
    color: white;
    display: flex;
    font-size: 2rem;
    height: 70px;
    justify-content: space-around;
    line-height: 2rem;
    margin: 0.5rem auto;
    padding: 0.85rem;
    width: 100%;

    @media screen and (min-width: 760px) {
        height: 40px;
        font-size: 1.5rem;
        padding: 0.25rem;
        width: 150px;
    }
}